<form action="/task/add" method="get">
    <button type="submit" class="btn-add-task">Add a task</button>
</form>

<h2>List of tasks:</h2>

<form action="/task/search" method="get">
    <input type="text" name="search" placeholder="Find a task...">
    <button type="submit" class="btn-search">Search</button>
</form>

<div class="table-wrapper">
    <table>
        <thead>
        <tr>
            <th>
                Task
            </th>
            <th>
                Delete
            </th>
            <th>
                Modify
            </th>
            <th>
                Status
            </th>
            <th>
                Due date
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each tasks}}
            <tr>
                <td>
                    {{this.task}}
                </td>
                <td>
                    <form action="/task/{{this._id}}?_method=delete" method="post" class="task-form">
                        <button type="submit"><img src="graphics/trash.png" alt="trash" class="btn-delete"></button>
                    </form>
                </td>
                <td>
                    <form action="/task/edit/{{this._id}}" method="get" class="task-form">
                        <button type="submit"><img src="graphics/edit.png" alt="edit" class="btn-edit"></button>
                    </form>
                </td>
                <td>
                    {{#if this.status}}
                        DONE
                    {{else}}
                        NOT DONE
                    {{/if}}
                </td>
                <td>
                    {{this.dueDate}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
